# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/renter/node_modules
/server/node_modules
/renter/.pnp
.pnp.js

# testing
/renter/coverage

# production
/renter/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*