.booknow {
  display: flex;

  
}

.hotel-details {
  width: 70%;
  border-top: 1px solid rgb(182, 173, 173);
  border-right: 1px solid rgb(182, 173, 173);
  padding: 20px;
  border-top-right-radius: 8px;
  
}
 .gallery img{
    width: 45%;
    height: fit-content;
    margin: 20px 20px 20px 0;
    border-radius: 8px;
    
    transition: all 0.3s ease;
}
.heading{
    font-size: 2.265rem;
    color:rgb(85, 83, 83);
    font-weight: 100;
    line-height: 3rem;
}
p{
    color: #292929;
   
    line-height: 1.5rem;
    color: #292929;
}
.payment {
  border: 1px solid rgba(133, 131, 128, 0.601);
  border-radius: 8px;
  padding: 20px;
  background-color: rgba(245, 245, 245, 0.437);

}
.right-sec-payment
{
  width: 30%;
  padding: 30px;

}
.guest-input{
    width: 100%;
    height: 40px;
    padding: 5px 5px 5px 10px;
    font-size: 20px;
    border: 1px solid rgb(133, 131, 128);
    color: #292929;
    border-radius: 10px;
}
.book{
  width: 100%;
  height: 50px;
  font-size: 25px;
  padding: 10px;
  background-color: orange;
  border-radius: 8px;
  color: black;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  border: none;
  float: right;
  transition: 0.3s;
}
.book:hover{
  background-color: rgb(213, 104, 32);
  
}
.price-breakdown{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2px;
  text-align: left;
}
.col p
{
  padding: 10px;
}

@media only screen and (max-width:700px)
{
  .booknow{
    flex-direction: column;
  }
  .right-sec-payment{
    width: 100%;
  }
  .hotel-details{
    border-top-right-radius: 0;
    width: 100%;
    border-bottom: 1px solid rgb(133, 131, 128);
  }
}